@font-face {
    font-family:'batman';
    src: url('batmfa__.ttf') format(truetype), url('batmfo__.ttf') format(truetype);
    font-weight: normal;
    font-style: normal;
}

body{
    opacity: 1;
    background-position-y: 25%;
    background-position-x: center;
    background-size: 20%;
    background-repeat: no-repeat;
    background-attachment:fixed;
    display: flex;
    align-content: center;
    position:fixed;
    background-image: url(error-404.png);
    
}

.error{
    background-image: url(botoes.png);
    opacity: 0.5;
    background-repeat: repeat;
    background-size:85px;
    width: 1920px;
    height: 1080px;
}

h1{
    font-family:'batman', Times, serif ;
    font-weight: normal;
    font-size: 3em;
    color: black;
    display: flex;
    padding-top:65vh;
    padding-left: 50vh;
    align-items: center;

}